[Unit]
Description=Rclone PikPak HTTP Server
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/usr/bin/rclone serve http pikpak:wukazi --addr 0.0.0.0:5556 --read-only --buffer-size 256M --vfs-cache-mode full --vfs-read-chunk-size 64M --vfs-read-ahead 512M --transfers 16
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
