[Unit]
Description=Rclone Sync PikPak to OneDrive
After=network.target

[Service]
Type=oneshot
User=ubuntu
ExecStart=/usr/bin/rclone copy pikpak:wukazi onedrive:anime --ignore-existing --transfers 16 --checkers 16 --buffer-size 64M -v
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
